#about {
  background: url('../../assets/img/about-bg.jpg') no-repeat center;
  background-size: cover;
  padding: 4em 0 4em;
  a {
    padding-right: .5em;
  }

}

.slogan {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1em;
}

.font-24px {
  font-size: 24px;
}
.font-22px {
  font-size: 22px;
}
.font-19px {
  font-size: 19px;
}
.font-16px {
  font-size: 16px;
}

@media screen and (min-width: 480px) {
  .slogan {
    font-size: 2em;
    line-height: normal;
  }
}
