ul.navigation {
  width: 100%;
  @include flexbox;
  @include justify-content(space-around);
  li {
    display: inline-block;
    text-align: right;
    a {
      color: $red;
      border: 0;
    }
  }
  &:first-child {
    text-align: left;
  }
}
