@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
@import url("https://fonts.googleapis.com/css?family=Fascinate+Inline");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");
@font-face {
  font-family: 'TheHandBold';
  src: url("../fonts/2EF3AC_0_0.eot");
  src: url("../fonts/2EF3AC_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2EF3AC_0_0.woff2") format("woff2"), url("../fonts/2EF3AC_0_0.woff") format("woff"), url("../fonts/2EF3AC_0_0.ttf") format("truetype"); }
@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url("../fonts/2FDF27_8_0.woff2") format("woff2"), url("../fonts/2FDF27_8_0.woff") format("woff"), url("../fonts/2FDF27_8_0.ttf") format("truetype"); }
body {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'AvenirNextLTPro-Medium', sans-serif;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin Sketch', cursive;
  letter-spacing: 4px;
  font-size: 250%; }
  h1.uk-heading-line, h1.bs-title, h2.uk-heading-line, h2.bs-title, h3.uk-heading-line, h3.bs-title, h4.uk-heading-line, h4.bs-title, h5.uk-heading-line, h5.bs-title, h6.uk-heading-line, h6.bs-title {
    font-family: 'TheHandBold', cursive; }
  h1.bs-title, h2.bs-title, h3.bs-title, h4.bs-title, h5.bs-title, h6.bs-title {
    padding-left: 2em;
    font-size: 3em; }

em {
  color: #444; }

p {
  font-size: 17px; }

p.caption {
  font-size: 80%;
  font-variant: all-small-caps; }

.font-red, .uk-panel .font-red {
  color: #840f0a; }

.round {
  width: 100px;
  height: 100px;
  border-radius: 100%; }

.uk-link, a {
  color: #840f0a; }
  .uk-link:hover, a:hover {
    color: rgba(136, 31, 24, 0.85); }

.bg-fiber {
  background: url("../img/about-bg.jpg") no-repeat;
  background-size: cover; }

.bs-logo-area > a {
  font-size: 1.125em;
  opacity: .7;
  margin: .25em 0 0 2em;
  color: #dcdcdc;
  letter-spacing: 2px; }
  .bs-logo-area > a:hover {
    text-decoration: none; }

.bs-page-logo {
  position: absolute;
  top: 15%;
  right: 2%;
  opacity: .7; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 15px;
  margin-right: 1.5rem; }

.alignright {
  display: inline;
  float: right;
  margin-left: 15px;
  margin-left: 1.5rem; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

.alignnone {
  margin: 10px 0; }

nav {
  text-transform: uppercase; }

.uk-navbar-toggle {
  color: #840f0a; }

.uk-navbar-brand {
  font-size: 1.25em; }

.uk-navbar-nav > li > a {
  padding: 0 1.5em; }

.bs-dark-nav {
  background: #212121 !important;
  box-shadow: 1px 1px 0 #333; }

#banner .uk-cover-background {
  background-position: 67% 45%;
  height: 60vh; }
#banner .bs-logo > span > a > img {
  opacity: .3;
  position: absolute;
  top: 25%;
  left: 15%; }
#banner .bs-logo-area {
  transform: rotate(-0.5deg); }
  #banner .bs-logo-area > a {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    opacity: .8;
    margin: 1em 0 0 2em;
    color: yellow;
    letter-spacing: 2px; }
    #banner .bs-logo-area > a:hover {
      text-decoration: none; }
#banner .bs-banner-menu ul {
  transform: rotate(-1deg); }
#banner .bs-banner-menu ul > li.bs-websites {
  right: 40%; }
  #banner .bs-banner-menu ul > li.bs-websites > a {
    font-size: 2.5em; }
#banner .bs-banner-menu ul > li.bs-artscom {
  transform: rotate(-1deg);
  right: 25%; }
  #banner .bs-banner-menu ul > li.bs-artscom > a {
    color: honeydew; }
#banner .bs-banner-menu ul > li.bs-contact {
  transform: rotate(-1deg);
  right: 12.5%;
  top: 50%; }
  #banner .bs-banner-menu ul > li.bs-contact > a {
    color: yellow;
    font-size: 1.75em; }
#banner .bs-banner-menu ul > li > a {
  color: white;
  font-size: 1.5em;
  font-family: 'Cabin Sketch', cursive;
  text-transform: lowercase;
  letter-spacing: 2px;
  opacity: .9; }
#banner .bs-panel {
  border: 3px double #840f0a; }
@media screen and (min-width: 480px) {
  #banner .uk-cover-background {
    background-position: 50% 30%;
    height: 70vh; }
  #banner .bs-logo > span > a > img {
    top: 15%;
    left: 25%; } }

.bs-tile-white {
  background: white; }

.bs-tile-red {
  background: rgba(136, 31, 24, 0.67);
  color: rgba(255, 255, 255, 0.85); }

.bs-tile-red > p, .bs-tile-white > p {
  font-size: 14px; }

#about {
  background: url("../../assets/img/about-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 4em 0 4em; }
  #about a {
    padding-right: .5em; }

.slogan {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1em; }

.font-24px {
  font-size: 24px; }

.font-22px {
  font-size: 22px; }

.font-19px {
  font-size: 19px; }

.font-16px {
  font-size: 16px; }

@media screen and (min-width: 480px) {
  .slogan {
    font-size: 2em;
    line-height: normal; } }
body.websites-template-default .uk-article figure img {
  border: 3px double lightgrey; }
body.websites-template-default .line-between {
  margin: 1em 0;
  font-weight: bold; }
body.websites-template-default .paper-fiber {
  box-shadow: 0px 4px 10px rgba(150, 150, 150, 0.25); }
body.websites-template-default .uk-button {
  background: #840f0a;
  color: white; }

#artscom h3, #artscom h4, .bg-paper h3, .bg-paper h4 {
  text-align: center;
  font-weight: normal;
  padding-bottom: 0.25em;
  line-height: 1; }
#artscom h4, .bg-paper h4 {
  font-size: 1.25em;
  margin: 0; }
#artscom .uk-card-title, .bg-paper .uk-card-title {
  font-size: 2em; }
  #artscom .uk-card-title > a, .bg-paper .uk-card-title > a {
    color: #333; }

p.bs-toneel-subtitle {
  font-variant: small-caps;
  color: #222;
  padding-bottom: 2.5em;
  line-height: 1;
  font-size: .875em; }

@media screen and (min-width: 480px) {
  #artscom h3 {
    font-size: 1.75em; }
  #artscom h4 {
    font-size: 1.25em; } }
h2.module-heading {
  font-weight: normal;
  text-align: center; }

h2.uk-panel-title {
  font-size: 2em; }

#sidebar .uk-container {
  width: 90%;
  font-size: 90%; }

.single .custom-logo-link img {
  width: 15em; }
.single .uk-panel-box {
  background: #fff;
  background: url("../../assets/img/about-bg.jpg") center no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 10px rgba(150, 150, 150, 0.25); }
.single #header {
  height: auto; }

.line-between {
  text-align: center;
  margin: .5em 0;
  opacity: .7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  .line-between:before {
    margin-right: 12px; }
  .line-between:after {
    margin-left: 12px; }
  .line-between:before, .line-between:after {
    -webkit-box-flex: 0.5;
    -webkit-flex-grow: 0.5;
    -moz-flex-grow: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
    background-color: #444;
    position: relative;
    top: 16px;
    content: '\a0';
    height: 1px; }

.style4 .line-between:before, .style4 .line-between:after {
  background-color: lightgrey; }

@media screen and (min-width: 480px) {
  .line-between {
    margin: 2em 0; } }
ul.navigation {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }
  ul.navigation li {
    display: inline-block;
    text-align: right; }
    ul.navigation li a {
      color: #840f0a;
      border: 0; }
  ul.navigation:first-child {
    text-align: left; }

/*
 * Generate different grid panel colors
 */
.tm-grid-colors > :nth-child(8n-7) > * {
  background: rgba(130, 200, 240, 0.1); }

.tm-grid-colors > :nth-child(8n-6) > * {
  background: rgba(130, 200, 240, 0.15); }

.tm-grid-colors > :nth-child(8n-5) > * {
  background: rgba(130, 200, 240, 0.2); }

.tm-grid-colors > :nth-child(8n-4) > * {
  background: rgba(130, 200, 240, 0.25); }

.tm-grid-colors > :nth-child(8n-3) > * {
  background: rgba(130, 200, 240, 0.3); }

.tm-grid-colors > :nth-child(8n-2) > * {
  background: rgba(130, 200, 240, 0.35); }

.tm-grid-colors > :nth-child(8n-1) > * {
  background: rgba(130, 200, 240, 0.4); }

.tm-grid-colors > :nth-child(8n) > * {
  background: rgba(130, 200, 240, 0.45); }

.tm-grid-colors-yellow > :nth-child(8n-7) > * {
  background: rgba(232, 227, 251, 0.15); }

.tm-grid-colors-yellow > :nth-child(8n-6) > * {
  background: rgba(232, 227, 251, 0.25); }

.tm-grid-colors-yellow > :nth-child(8n-5) > * {
  background: rgba(232, 227, 251, 0.3); }

.tm-grid-colors-yellow > :nth-child(8n-4) > * {
  background: rgba(232, 227, 251, 0.25); }

.tm-grid-colors-yellow > :nth-child(8n-3) > * {
  background: rgba(232, 227, 251, 0.3); }

.tm-grid-colors-yellow > :nth-child(8n-2) > * {
  background: rgba(232, 227, 251, 0.35); }

.tm-grid-colors-yellow > :nth-child(8n-1) > * {
  background: rgba(232, 227, 251, 0.4); }

.tm-grid-colors-yellow > :nth-child(8n) > * {
  background: rgba(232, 227, 251, 0.45); }

/*
 * Generate different grid panel heights
 */
.tm-grid-heights > :nth-child(8n-7) > * {
  height: 380px; }

.tm-grid-heights > :nth-child(8n-6) > * {
  height: 300px; }

.tm-grid-heights > :nth-child(8n-5) > * {
  height: 360px; }

.tm-grid-heights > :nth-child(8n-4) > * {
  height: 320px; }

.tm-grid-heights > :nth-child(8n-3) > * {
  height: 360px; }

.tm-grid-heights > :nth-child(8n-2) > * {
  height: 130px; }

.tm-grid-heights > :nth-child(8n-1) > * {
  height: 150px; }

.tm-grid-heights > :nth-child(8n) > * {
  height: 110px; }

/*
 * Add a fixed height to grid items
 */
.tm-grid-height-250 > * > * {
  height: 250px; }

/*# sourceMappingURL=custom.css.map */
